h1 {
    color: red;
    
}

span {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}

div {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}

h3 {
    color: blueviolet;
}

img {
    width: 300px;
    display: block;
}